body {
    font-family: Arial, Helvetica, sans-serif;
}

caption {
    margin-bottom: 10px;
}

table {
    border: 1px solid;
    border-collapse: collapse;
}

th {
    border: 1px solid;
}

tr {
    border: 1px solid;
}

td {
    border: 1px solid;
}