.sidebar-container {
    width: 250px;
    height: 100%;
    background-color: var(--color-primary);
    padding: 1.5rem;

    color: white;

    display: grid;
    grid-template-rows: 3rem 18rem 9rem;
    gap: 2rem;

    position: fixed;
    z-index: 100;
}

#icon-dashboard {
    width: 3.5rem;
    height: 3.5rem;
    color: var(--bg-base);
}

.sidebar-container svg {
    width: 1.8rem;
    height: 1.8rem;
    color: var(--bg-base);
}

.sidebar-container p {
    font-size: var(--text-sm);
}

.sidebar-group {

    display: grid;
    grid-auto-flow: row;
}

.sidebar-item {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}