.top-container {
    padding: 1.5rem;

    background: rgb(253, 254, 255);
    box-shadow: var(--box-shadow);
    z-index: 1;
}

.top-container svg {
    width: 2rem;
    height: 2rem;
    color: var(--text-base);
}

.top-bar-container {

    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
}

.search-container {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

#search-input {
    width: 35rem;
    height: 2.5rem;
    padding: 0.5rem;
    background-color: var(--bg-muted);
    border: none;
    border-radius: 1.5rem;
}

#search-input:focus {
    outline: none;

}

.profile-container {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-container {
    margin-top: 2rem;

    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;

    position: sticky;
    top: 0;
    z-index: 10;
}

.greeting-banner {

    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
}

.greeting-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#user-profile {
    width: 4rem;
}

.header-actions {

    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

.action-buttons {
    width: 9em;
    height: 4em;

    color: var(--bg-base);
    font-size: var(--text-base);
    font-weight: bold;

    background-color: var(--color-primary);
    border: none;
    border-radius: 2.5rem;
}