.book-card {
    width: 100%;
    height: clamp(250px, 30vh, 300px);
    padding: 1.5rem;

    background-color: var(--bg-base);
    border-radius: 0.5rem 1.5rem 1.5rem 0.5rem;
    box-shadow: var(--box-shadow-2);

    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 0.75rem;

    position: relative;
}

.book-card:hover {
    box-shadow: var(--box-shadow-1);
}

.book-actions {
    
    display: grid;
    grid-auto-flow: column;
}

.book-card h2 p{

    color: var(--text-base);
}

.read-label {

    font-family: var(--font-body-bold);
    font-size: 0.9rem;
    color: var(--color-primary);

    position: absolute;
    left: 68px;
    bottom: 29px;

    user-select: none;
}