.book-card {
    width: 20vw;
    height: 33vh;
    padding: 1.5rem;

    background-color: var(--bg-base);
    border-radius: 0.5rem 1.5rem 1.5rem 0.5rem;
    box-shadow: var(--box-shadow-2);

    display: flex;
    flex-direction: column;
}

.book-card h2 p{
    margin-bottom: ;

    color: var(--text-base);
}

.book-card .btn-toggle-read {
    width: 11em;
    height: 4em;
    padding: 1em;

    color: var(--bg-base);
    font-size: 0.9rem;
    font-family: var(--font-body-bold);

    background: var(--color-gradient-1);
    border: none;
    border-radius: 3rem;
    box-shadow: var(--box-shadow-2);
    cursor: pointer;
    transition: all 0.3s;
}
