

fieldset {
    border: none;
}

.book-card {
    width: 20vw;
    height: 45vh;
    padding: 1.5rem;

    background-color: var(--bg-base);
    border-left: 1rem solid var(--color-primary);
    border-radius: 0.5rem 1.5rem 1.5rem 0.5rem;
    box-shadow: var(--box-shadow-2);
}