
.btn-remove {
    /* width: 3rem;
    height: 3rem; */
    margin: 0% 0% 0%;

    /* background: #eee;
    border-radius: 5rem;
    box-shadow: var(--box-shadow-2);
    cursor: pointer; */

    position: relative;
    /* transition: box-shadow 0.2s ease; */

    cursor: pointer;
}

.btn-remove:hover {

    /* box-shadow: 0 0 5px rgba(10, 10, 10, 0.8); */
}

.lid {
    width: 24px;
    height: 5px;

    position: absolute;
    bottom: 19px;
    left: 89px;
}


.lid-cap {
    width: 4px;
    height: 4px;

    position: absolute;
    bottom: 23px;
    left: 99px;
}

.lid,
.lid-cap {

    background: var(--ui-muted);
    border-top-left-radius: 23.8px;
    border-top-right-radius: 23.8px;

    transition: transform 0.2s linear, margin 0.2s linear;
}

.btn-remove:hover .lid,
.btn-remove:hover .lid-cap {
    margin-bottom: 5.5px;

    transform: rotateX(14deg);
}

.bin {
    width: 20px;

    border-top: 20px solid  var(--ui-muted);
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;

    position: absolute;
    bottom: 0px;
    left: 91px;
}

.c {
    width: 2px;
    height: 11px;

    background-color: #fff;

    position: absolute;
    bottom: 4px;
}

.c.cut-1 {

    left: 11px;
    transform: rotate(5deg);
}

.c.cut-2 {

    right: 11px;
    transform: rotate(-5deg);
}