.btn-open-dialog {
    width: 15rem;
    height: 4rem;
    padding: 1rem;

    color: var(--color-primary);
    font-size: 1.1rem;
    font-family: var(--font-body-bold);

    background: var(--bg-base);
    border: none;
    border-radius: 3rem;
    box-shadow: var(--box-shadow-2);
    cursor: pointer;
    transition: all 0.2s;
}

.btn-open-dialog:hover {
    width: 15.3rem;
    height: 4rem;
    padding: 1rem;

    color: var(--color-primary);
    font-size: 1.1rem;
    font-family: var(--font-body-bold);

    background: var(--bg-muted);
    border: 0.13rem solid var(--color-primary);
    border-radius: 3rem;
    box-shadow: var(--box-shadow-1);
}

.btn-open-dialog-container {

    display: flex;
    justify-content: center;
}

.add-book-dialog {
    width: 30vw;
    padding: 2rem;
    margin: auto;

    background: var(--bg-base);
    border: none;
    border-radius: 1.5rem;
    box-shadow: var(--box-shadow-1);
}

.add-book-dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
}


.dialog-content {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.add-book-dialog h1 {
    text-align: center;

    color: var(--color-primary);
}

.book-form {
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.form-group {

    display: flex;
    flex-direction: column;
}

.read-status {
    margin-top: 0.5rem;

    text-align: center;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.read-status legend {
    margin-bottom: 0.4rem;

    font-family: var(--font-body-regular);
}

.read-status-input {

    display: flex;
    gap: 1.5rem;
}

.read-status-group label {
    margin-left: -10rem;
}

.form-actions {
    margin-top: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.form-group label {
    margin-left: 0.7rem;
    margin-bottom: 0.2rem;
}

.text-input {
    width: 22rem;
    height: 2.7rem;
    padding: 1.5rem;
    margin-bottom: 0.5rem;

    font-size: 1rem;

    background-color: var(--bg-muted);
    border: none;
    border-radius: 2rem;
}

.text-input:hover {

    outline: none;
    box-shadow: var(--box-shadow-1);
}

.text-input:focus {
    outline: none;
    box-shadow: var(--box-shadow-2);
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="radio"] {
    accent-color: var(--color-primary);
}

.btn-submit {
    width: 11em;
    height: 4em;
    padding: 1em;

    color: var(--bg-base);
    font-size: 0.9rem;
    font-family: var(--font-body-bold);

    background: var(--color-gradient-1);
    border: none;
    border-radius: 3rem;
    box-shadow: var(--box-shadow-2);
    cursor: pointer;
    transition: all 0.3s;
}

.btn-submit:hover {

    background: var(--color-gradient-2);
    box-shadow: var(--box-shadow-1);
}

.btn-submit:active {
    width: 11em;
    height: 4em;
    padding: 1em;

    color: var(--bg-base);
    font-size: 0.9rem;
    font-family: var(--font-body-bold);

    background: var(--color-gradient-1);
    border: none;
    border-radius: 3rem;
    box-shadow: var(--box-shadow-2);
}

.btn-cancel {
    width: 11em;
    height: 4em;
    padding: 1em;

    font-size: 0.9rem;
    font-family: var(--font-body-regular);

    border: none;
    border-radius: 3rem;
    box-shadow: var(--box-shadow-2);
    cursor: pointer;
    transition: all 0.3s;
}

.btn-cancel:hover {

    border: 0.13rem solid var(--color-primary);
    border-radius: 3rem;
}

fieldset {
    border: none;
}