@import url('grid.css');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    /* Colors */
    --color-primary: ;
    --color-secondary: ;
    --color-accent: ;

    --color-gradient-1: ;
    --color-gradient-2: ;

    --bg-base: ;
    --bg-muted: ;

    --text-base: ;
    --text-muted: ;

        /* Font styles */
    --font-heading: Roboto;
    --font-body-regular: Roboto;
    --font-body-medium: Roboto;
    --font-body-bold: ;

    --font-ui: ;

    --weight-regular: 400;
    --weight-medium: 500;
    --weight-bold: 700;

    /* Font sizes */
    --text-xs: 0.75rem;   /* 12px */
    --text-sm: 0.875rem;  /* 14px */
    --text-base: 1rem;    /* 16px */
    --text-md: 1.125rem;  /* 18px */
    --text-lg: 1.25rem;   /* 20px */
    --text-xl: 1.5rem;    /* 24px */
    --text-2xl: 1.875rem; /* 30px */
    --text-3xl: 2.25rem;  /* 36px */
    --text-4xl: 3rem;     /* 48px */
    --text-5xl: 4rem;     /* 64px */

    /* Some CSS */
    --box-shadow-1: 0 2px 8px rgb(0, 0, 0, 0.2);
    --box-shadow-2: 0 2px 3px rgb(0, 0, 0, 0.2);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: var(--font-body-regular);
}

html, body {
    width: 100vw;
    overflow-x: hidden;
}

.main-container {

    display: grid;
    grid-template-rows: 15vh 85vh;
}

.header-container {

    background-color: rgb(98, 145, 220);
}

.grid-container {

    background-color: rgb(171, 255, 255);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}