@import url("./header.css");
@import url("./home.css");

/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Baloo Chettan 2 */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {

    /* Colors */
    --color-primary: #324882;
    --color-secondary: #DB4350;
    --color-accent: #F7B508;

    --color-gradient-1: ;
    --color-gradient-2: ;

    --color-bg-base: #F2F2DA;
    --color-bg-muted: ;

    --color-text-base: ;
    --color-text-muted: #324882;

    /* Font styles */
    --font-brand: "Baloo Chettan 2";
    --font-base: "Poppins";

    --font-ui: "Poppins";
    
	--weight-regular: 400;
    --weight-medium: 500;
    --weight-bold: 700;

    /* Font sizes */
    --text-xs: 0.75rem;   /* 12px */
    --text-sm: 0.875rem;  /* 14px */
    --text-base: 1rem;    /* 16px */
    --text-md: 1.125rem;  /* 18px */
    --text-lg: 1.25rem;   /* 20px */
    --text-xl: 1.5rem;    /* 24px */
    --text-2xl: 1.875rem; /* 30px */
    --text-3xl: 2.25rem;  /* 36px */
    --text-4xl: 3rem;     /* 48px */
    --text-5xl: 4rem;     /* 64px */

    /* Some CSS */
    --box-shadow-1: 0 2px 8px rgb(0, 0, 0, 0.2);
    --box-shadow-2: 0 2px 3px rgb(0, 0, 0, 0.2);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: var(--font-base);
}

html, body {
    width: 100vw;
    /* padding-left: 1rem;
    padding-right: 1rem; */

    background-color: var(--color-bg-base);

    overflow-x: hidden;
}